* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(main.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: '';
    background: rgba(0, 0, 0, 0.139);
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* .title {
    color: white;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 2;
} */